*/.svn/
.svn/
Bin/
obj/
_ReSharper.CSharp/
*.opensdf
*.sdf
Library
/CSharp/CSharp.VC.opendb
/Server/Server.VC.opendb
/Log
/Temp
/Logs
/.vs
/Release
.idea/
/Assets/StreamingAssets/
/Assets/StreamingAssets.meta
.DS_Store
Server/.DS_Store
/Server/.vscode/
.vs/
.objs/
/Unity/.gradle
/*.user
/ToolsApp/
/Unity/Unity.Editor.csproj
/Assets/Bundles/Code/Code.dll.bytes
/Assets/Bundles/Code/Code.dll.bytes.meta
/Assets/Bundles/Code/Code.pdb.bytes
/Assets/Bundles/Code/Code.pdb.bytes.meta
/Assembly-CSharp.csproj
~$*.xlsx
/.vscode
/UserSettings/Search.settings
/ProjectSettings/RiderScriptEditorPersistedState.asset
Unity.Core.csproj
Client.Hotfix.csproj
Client.HotfixView.csproj
Client.Model.csproj
Client.ModelView.csproj
Server.Hotfix.csproj
Server.Model.csproj
/Unity.Editor.csproj
/Unity.Mono.csproj
/Share.Hotfix.csproj
/Share.Model.csproj
/Unity.ThirdParty.csproj
