*/.svn/
.svn/
Bin/
obj/
_ReSharper.CSharp/
*.opensdf
*.sdf
Library
/CSharp/CSharp.VC.opendb
/Server/Server.VC.opendb
/Log
/Temp
/Logs
/.vs
/Release
.idea/
/Unity/Assets/StreamingAssets/
/Unity/Assets/StreamingAssets.meta
.DS_Store
.vs/
.objs/
/Unity/.gradle
/*.user
/Unity/Temp
/Unity/Library
/Unity/Unity.Editor.csproj
/Unity/Assets/Bundles/Code/Code.dll.bytes
/Unity/Assets/Bundles/Code/Code.dll.bytes.meta
/Unity/Assets/Bundles/Code/Code.pdb.bytes
/Unity/Assets/Bundles/Code/Code.pdb.bytes.meta
/Unity/Assembly-CSharp.csproj
~$*.xlsx
/.vscode
/UserSettings/Search.settings
/ProjectSettings/RiderScriptEditorPersistedState.asset
/Unity/Unity.Core.csproj
/Unity/Unity.Editor.csproj
/Unity/Unity.Mono.csproj
/Unity/Unity.ThirdParty.csproj
/Unity/Unity.Hotfix.csproj
/Unity/Unity.HotfixView.csproj
/Unity/Unity.Model.csproj
/Unity/Unity.ModelView.csproj
